body{
    margin: 5%;
    background-color: antiquewhite;
    font-family: 'Josefin Slab', serif;
}


header>h1 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    background-image: url(./../images/leaves.jpg);
    height: 10% ;
    padding-top: 3%;
    

}

main {
    padding-top: 5vh;
}

main h1 {
    font-weight:  bold;
}

.foreCastCard {
   background-color: rgb(54, 77, 55);
    border-radius: 10%;
    justify-content: center;
}

#citySearchbutton,
#citySearch input {
    font-size: 1em;
    border-radius: 5%;
    border-color: rgb(7, 26, 2);
}

#previousCities {
    border-top: 1px solid;
   
}

#previousCities button {
    background-color: #a1a1a1;
    color: #000000;
    border: none;
    font-size: 1.25em;
}

#previousCities button:hover {
    background-color: #615353;
}

#currentWeatherContainer p {
    font-size: larger;
    font-weight: 600 bold;
    
}

#currentWeatherIcon {
    background: grey;
    border-radius: 3rem;
}



#foreCast {
    display: flex;
    justify-content: space-between;
}

#foreCast div {
    color: #ffffff;
    min-width: 19%;
    padding-left: 0.5em;
    font-weight: 600;
    font-size: 1.25em;
}


/*change format, color and appearance"
